<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.godfunc.modules.merchant.mapper.MerchantChannelRateMapper">

    <resultMap id="merchantChannelRateList" type="com.godfunc.modules.merchant.dto.MerchantChannelSimpleRateDTO">
        <id column="pay_category_code" property="payCategoryCode"/>
        <result column="pay_category_name" property="payCategoryName"/>
        <collection property="channelList" ofType="com.godfunc.modules.merchant.dto.ChannelRateDTO">
            <id column="id" property="id"/>
            <result column="category_channel_id" property="categoryChannelId"/>
            <result column="pay_channel_name" property="payChannelName"/>
            <result column="pay_channel_code" property="payChannelCode"/>
            <result column="rate" property="rate"/>
        </collection>
    </resultMap>
    <select id="selectListByMerchantCode"
            resultMap="merchantChannelRateList">
        select mcr.id,
               cc.id        category_channel_id,
               cate.name    pay_category_name,
               cate.code    pay_category_code,
               channel.name pay_channel_name,
               channel.code pay_channel_code,
               mcr.rate
        from pay_category_channel cc
                 left join pay_category cate on cate.id = cc.category_id and cate.rm_tag = 0
                 left join pay_channel channel on channel.id = cc.channel_id and channel.rm_tag = 0
                 left join merchant_channel_rate mcr
                           on mcr.pay_category_channel_id = cc.id and mcr.merchant_code = #{merchantCode}
        order by cc.create_time desc
    </select>
</mapper>
